* {
	margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

body{
    background-color: black;
    color: #ffffff;
}

#introduction{
    animation-duration: 3s;
    animation-name: fadeOut;
    margin-top: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 142px;
    width: 700px;
    height: 700px;
}

@keyframes fadeOut {
    from {
        opacity: 100%;
        transform: scale(1);
    }
    to {
        transform: scale(10);
        opacity: 0%;
    }
}

#logar{
    display: none;
    flex-direction: column;
    margin-top: 500px;
}
#logar img{
    width: 500px;
    height: 500px;
    align-self: center;
    margin-bottom: 30px;
}
#form-logar{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-logar label{
    font-size: 60px;
}

#form-logar input[type="text"]{
    color: black;
    font-size: 40px;
    width: 500px;
    height: 50px;
}

#logar button{
    margin-top: 50px;
    padding: 20px;
    width: 250px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    background-color: #C949EC;
    color: #ffffff;
    border-radius: 10px;
}

#container-filtro{
    background-color: #fff;
    height: 100px;
    width: 900px;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    margin-left: 40px;
    margin-top: 70px;
}

#container-filtro i{
    margin-left: 10px;
    color: black;
}

#container-filtro input{
    font-weight: bold;
    height: 100px;
    width: 800px;
    font-size: 50px;
    margin-bottom: 40px;
}

.input-text{
    background-color: #fff;
    height: 100px;
    width: 600px;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}

.input-text input{
    margin-top: 15px;
}

.img-ball{
    border-radius: 100px;
    position: absolute;
    margin-left: 365px;
    margin-top: 200px;
}
.banner{
    width: 700px;
    height: 400px;
    border-radius: 30px;
}

.infos-evento{
    display: flex;
    justify-content: space-between;
    padding: 20px 140px;
}

.infos-evento h3, h4, label, p{
    font-weight: 600;
    font-size: 40px;
    color: #9C9C9C;
}

.infos-evento h4, label, p{
    color: #C7C7E1;
}

.evento{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav{
    background-color: #4F559F;
}

nav .icone{
    width:120px;
    height: 120px;
}
.filtros-icons .icone{
    width:100px;
    height: 100px;
}

.filtros-icons label{
    font-weight: 400;
    font-size: 40px;
    color: #9B98C7;
}
nav ul{
    margin-top: 85px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.filtros-icons{
    display: flex;
    margin: 50px 0px;
    border-bottom: #9B98C79C 10px solid;
    list-style: none;
    justify-content: space-evenly;
}

.filtro-icon{
    display: flex;
    flex-direction: column;
}